[submodule "dependencies/m3pd-agency"]
	path = dependencies/m3pd-agency
	url = git@bitbucket.org:raoul_harel/m3pd-agency.git
[submodule "dependencies/m3pd-common"]
	path = dependencies/m3pd-common
	url = git@bitbucket.org:raoul_harel/m3pd-common.git
[submodule "dependencies/optional"]
	path = dependencies/optional
	url = https://github.com/rharel/csharp-optional.git
[submodule "dependencies/require"]
	path = dependencies/require
	url = https://github.com/rharel/csharp-require.git
